/* Web fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=BIZ+UDMincho:wght@400;700&family=BIZ+UDPGothic:wght@400;700&family=BIZ+UDPMincho:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');

/* Body */
body
{
	word-break: break-word;
	font-family: "Noto Sans JP","BIZ UDPGothic",Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Header Text */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.05em;
}

/* Codes */
code, kbd, pre, samp {
	background-color: rgb(var(--v-theme-surface-light));
	padding: 0.2em;
	border-radius: 0.2em;
	font-family: "BIZ UDGothic", monospace;
}

/* Vuetify Components */
.v-button {
	font-weight: bold;
}