/* Web fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* Body */
body
{
	word-break: break-word;
	font-family: "Roboto","Noto Sans JP",Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Spacing */
h1,h2,h3,h4,h5,h6,p,ul,ol {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

/* Header Text */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.05em;
}

/* List */
ul, ol {
	list-style-position: inside;
	padding-left: 0.2rem;
}

/* HR */
hr:not(.v-divider) {
	margin: 0.5em auto;
	width: min(20%, 280px);
}

/* Codes */
code, kbd, pre, samp {
	background-color: rgb(var(--v-theme-surface-light));
	padding: 0.2em;
	border-radius: 0.2em;
	font-family: "Consolas",monospace;
}

/* Button */
.v-btn {
	min-height: 3em;
}